* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}
* body {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  color: #fff;
  background: #07203afb;
}
a {
  text-decoration: none;
}
p {
  font-size: 0.8rem;
  color: #e9eff5fb;
}
h1 {
  font-size: medium;
  text-align: center;
}

.as-body {
  display: flex;
  min-height: 94vh;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.div-1 {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 1.5rem;
  max-width: 30rem;
  /* background: #153557; */
  margin-left: auto;
  margin-right: auto;
  border-radius: 2rem;
}

/* IMAGES CSSs */
.profile-pic {
  height: 5rem;
  width: 5rem;
}
.pf-img {
  display: flex;
  justify-content: center;
}
.icon {
  width: 1.7rem;
  height: auto;
  background: #fff;
  border-radius: 50%;
}
.exp-img {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.div-2 {
  display: flex;
  flex-direction: column;
}

.md-about {
  margin-top: 1rem;
}
.md-about > p {
  margin-top: 0.3rem;
}
.experience {
  display: flex;
  margin-top: 1rem;
  gap: 0.2rem;
}

.exp1 {
  display: flex;
  flex-direction: column;
  padding: 0.15rem;
  border-radius: 0.5rem;
}

.exp-details {
  width: 100%;
  margin-top: 0.8rem;
}
.exp-details > h1 {
  font-size: 0.7rem;
  margin-bottom: 0.4rem;
  text-align: left;
}

.div-4-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 0.8rem;
}
.div-4-1 > p {
  background: #fff;
  color: #07203afb;
  padding: 0.5rem 0.7rem;
  border-radius: 0.2rem;
  flex-grow: 2;
  text-align: center;
}
.contact-flex div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.div-5-1 a p {
  color: #07203afb;
}
.div-4-1 a {
  background: #fff;
  color: #07203afb;
  padding: 0.5rem 0.7rem;
  border-radius: 0.2rem;

  text-align: center;
}

footer {
  height: 6vh;
  background: #051d36fb;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  display: flex;
  justify-content: center;
}
.footer {
  margin-top: 1rem;
}
